<WuModal @title="Add File to " @dialog-class="modal-dialog--wide modal-dialog--sectioned">
    <p>{{@folder.value}}</p>
    <div class="modal-dialog__footer">
        {{#each this.forms as |form| }}
        <Modals::Forms::FileForm @uuid={{form}} @model={{get this.files form}}/>
        {{/each}}
            
    <WuButtonGroup>
        <WuButton  @label="Save" class="button button--narrow" @onClick={{this.save}}/>
        <WuButton @label="Add File" class="button button--narrow" @onClick={{this.addForm}}/>
        <WuButton @label="Cancel" class="button button--alt button--narrow" @onClick={{@onClose}}/>
    </WuButtonGroup>
  </div>
</WuModal>