<WuModal @title={{this.title}} @dialog-class="modal-dialog--wide modal-dialog--sectioned">
    <p>{{this.subtitle}}</p>
    <div class="modal-dialog__footer">

        {{#each this.forms as |form| }}
        {{component this.formComponent uuid=form model=(get this.items form) onChange=this.handleChange}}
        {{/each}}
            
    <WuButtonGroup>
        <WuButton @label="Save" class="button button--narrow" @onClick={{this.save}}/>
        <WuButton @label="Add Item" class="button button--narrow" @onClick={{this.addForm}}/>
        <WuButton @label="Cancel" class="button button--alt button--narrow" @onClick={{@onClose}}/>
    </WuButtonGroup>
  </div>
</WuModal>