<WuModal @title="Add Subject to " @dialog-class="modal-dialog--wide modal-dialog--sectioned">
    <p>{{@graph.value}}</p>
    <div class="modal-dialog__footer">

        {{#each this.forms as |form| }}
        <Modals::Forms::SubjectForm @uuid={{form}} @model={{get this.subjects form}}/>
        {{/each}}
            
    <WuButtonGroup>
        <WuButton  @label="Save" class="button button--narrow" @onClick={{this.save}}/>
        <WuButton @label="Add Subject" class="button button--narrow" @onClick={{this.addForm}}/>
        <WuButton @label="Cancel" class="button button--alt button--narrow" @onClick={{@onClose}}/>
    </WuButtonGroup>
  </div>
</WuModal>