<WuModal @title="Add Triple to " @dialog-class="modal-dialog--wide modal-dialog--sectioned">
    <p>{{@subject.value}}</p>
    <div class="modal-dialog__footer">
        {{!-- Triple creation forms here --}}
    {{#each this.forms as |form| }}
        <Modals::Forms::TripleForm @uuid={{form}} @model={{get this.triples form}}/>
    {{/each}}

    <WuButtonGroup>
        <WuButton @label="Add Triple" class="button button--narrow" @onClick={{this.addForm}}/>
        <WuButton  @label="Save" class="button button--narrow" @onClick={{this.save}}/>
        <WuButton @label="Cancel" class="button button--alt button--narrow" @onClick={{@onClose}}/>
    </WuButtonGroup>
  </div>
</WuModal>