<ul>
    {{#if @files}}
    {{#each @files as |file|}}

    {{#if (exists file.children)}}
    <li>
        <span {{on "click" (fn this.toggle file)}}
            class="folder {{if (isequal file @selectedFolder) "selected"}}">{{file.name}}</span>
        <div class="hidden">
            <LoadingWrapper @loading={{file.isLoading}}>
                <FileList @files={{file.children}} @onSelect={{@onSelect}} @selectedFile={{@selectedFile}}
                    @onOpenFolder={{@onOpenFolder}} @onSelectFolder={{@onSelectFolder}}
                    @selectedFolder={{this.selectedFolder}} />
            </LoadingWrapper>
        </div>

    </li>
    {{else}}
    <li>
        <span {{on "click" (fn @onSelect file)}}
            class="file {{if (isequal file @selectedFile) "selected"}}">{{file.name}}</span>
    </li>
    {{/if}}

    {{/each}}
    {{else}}
    <p>This folder contains no files...</p>
    {{/if}}
</ul>