<WuModal @title="Add Triple to " @dialog-class="modal-dialog--wide modal-dialog--sectioned">
    <p>{{@subject.value}}</p>
    <div class="modal-dialog__footer">
        <label class="form__label form__label--block u-spacer--small" for="predicate">
            Predicate
            <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{this.predicateValue}}/>
        </label>
        <label class="form__label form__label--block u-spacer--small" for="object">
            Object
            <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{this.objectValue}}/>
        </label>
    <WuButtonGroup>
        <WuButton  @label="Save" class="button button--narrow" @onClick={{this.save}}/>
        <WuButton @label="Cancel" class="button button--alt button--narrow" @onClick={{@onClose}}/>
    </WuButtonGroup>
  </div>
</WuModal>