<WuModal @title="Add Triple to " @dialog-class="modal-dialog--wide modal-dialog--sectioned">
    <p>{{@subject.value}}</p>
    <div class="modal-dialog__footer">
        <label class="form__label form__label--block u-spacer--small" for="predicate">
            Predicate
            <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{this.predicateValue}} />
            </label>
        <label class="form__label form__label--block u-spacer--small" for="object"> Object:</label>
        <select name="object" id="object" class="form-control" {{on "change" (fn this.chooseType type="target.value")}}>
            {{#each this.objectTypes as |objectType|}}
            <option value = {{objectType}}> {{objectType}}</option>
            {{/each}}
        </select> 
            <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{this.objectValue}}/>
    <WuButtonGroup>
        <WuButton  @label="Save" class="button button--narrow" @onClick={{this.save}}/>
        <WuButton  @label="Ping" class="button button--narrow" @onClick={{this.ping}}/>

        <WuButton @label="Cancel" class="button button--alt button--narrow" @onClick={{@onClose}}/>
    </WuButtonGroup>
  </div>
</WuModal>