<SaySolidContent @me={{this.profile.me}} @header="Your Solid Files">
    <div {{did-insert this.fetchFiles}}>
    <LoadingWrapper @loading={{this.root.isLoading}}>
        <FileList @files={{this.root.children}} @onSelect={{@onSelect}} @selectedFile={{@selectedFile}} @onOpenFolder={{this.onOpenFolder}} @onSelectFolder={{this.setSelectedFolder}} @selectedFolder={{this.selectedFolder}}/>
    </LoadingWrapper>
    </div>
</SaySolidContent>
<SaySolidFooter @me={{this.profile.me}}>
    <WuButton @label="Refresh" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.fetchFiles}} />
    <WuButton @label="Insert link" @size="small" @isNarrow={{true}} @commandLocation="below"
        disabled={{if @selectedFile false true}} @onClick={{this.insertSelectedFile}} />
    <WuButton @label="Add file" @size="small" @isNarrow={{true}} @commandLocation="below"
        disabled={{if this.selectedFolder false true}} @onClick={{action (mut this.popup) true}} />
    <WuButton @label="Open" @size="small" @isNarrow={{true}} @commandLocation="below"
        disabled={{if @selectedFile false true}} @onClick={{@onOpen}} />
    <WuButton @label="Close" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.close}} />
    
</SaySolidFooter>
{{#if this.popup}}
<Modals::FileCreateModal @onClose={{action (mut this.popup) false}} @folder={{this.selectedFolder.node}} @onCreate={{this.addFile}}/>
{{/if}}