<SaySolidContent @me={{this.profile.me}} @header="Your Solid Files">
    <div {{did-insert this.fetchFiles}}>
    {{#if this.root.isLoading}}
    <p>Loading...</p>
    {{else}}
    <FileList @files={{this.root.children}} @onSelect={{@onSelect}} @selectedFile={{@selectedFile}} @onOpenFolder={{this.onOpenFolder}}/>
    {{/if}}
    </div>
</SaySolidContent>
<SaySolidFooter @me={{this.profile.me}}>
    <WuButton @label="Refresh" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.fetchFiles}} />
    <WuButton @label="Insert link" @size="small" @isNarrow={{true}} @commandLocation="below"
        disabled={{if @selectedFile false true}} @onClick={{this.insertSelectedFile}} />
    <WuButton @label="Open" @size="small" @isNarrow={{true}} @commandLocation="below"
        disabled={{if @selectedFile false true}} @onClick={{@onOpen}} />
    <WuButton @label="Close" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.close}} />
    
</SaySolidFooter>