<SaySolidContent @me={{this.profile.me}} @header="Select the data from {{@subject.value}} you wish to insert:">
    <div {{did-insert this.resetAttributes}}>
      {{#each-in this.attributes as |key pred|}}
        <WuCheckbox @onClick={{fn this.onSelect pred}}>
          <WuAccordion @label={{if pred.label pred.label pred.node.value}}>
            <a href={{pred.node.value}}>Link</a>
            <p>Values:</p>
            <ul>
              {{#each pred.targets as |target|}}
                <li>{{target.value}}</li>
              {{/each}}
            </ul>
          </WuAccordion>
        </WuCheckbox>
        
      {{/each-in}}
    </div>
</SaySolidContent>
<SaySolidFooter @me={{this.profile.me}} >
  <WuButton @label="Insert" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.insert}} />
  <WuButton @label="Add triple" @size="small"  @isNarrow={{true}} @commandLocation="below" @onClick={{this.togglePopup}} />
</SaySolidFooter>
{{#if this.popup}}
<TripleCreateModal @onClose={{this.togglePopup}} @subject={{@subject}} @graph={{@graph}} @onCreate={{this.addPredicate}}/>
{{/if}}