<SaySolidContent @me={{this.profile.me}} @header={{this.fileName}}>
    <div {{did-insert this.fetchSubjects}}>
        <LoadingWrapper @loading={{this.isLoading}}>
            {{#if this.subjects}}
            <ul>
                
                {{#each this.subjects as |subject|}}
                <li>
                    <span {{on "click" (fn @onSelect subject)}}
                        class="subject {{if (isequal subject @selectedSubject) "selected"}}">{{getsubjectname subject.value}}</span>
                </li>
                {{/each}}

            </ul>
            {{else}}
            <p>No subjects found...</p>
            {{/if}}
        </LoadingWrapper>
    </div>
</SaySolidContent>
<SaySolidFooter @me={{this.profile.me}}>
    <WuButton @label="Open" @size="small" @isNarrow={{true}} @commandLocation="below"
        disabled={{if @selectedSubject false true}} @onClick={{@onOpen}} />
    <WuButton @label="Add subject" @size="small" @isNarrow={{true}} @commandLocation="below"
        @onClick={{action (mut this.popup) true}} />

    <WuButton @label="Close" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.close}} />
</SaySolidFooter>
{{#if this.popup}}
<Modals::SubjectCreateModal @onClose={{action (mut this.popup) false}} @graph={{@file}} @onCreate={{this.addSubject}} />
{{/if}}