<SaySolidContent @me={{this.profile.me}} @header="Type Overview">
    <div {{did-insert this.fetchTypes}}>
        <LoadingWrapper @loading={{this.isLoading}}>
            <ul>
                {{#if this.types}}
                {{#each this.types as |type|}}

                <li>
                    <span {{on "click" (fn @onSelect type)}}
                        class="type {{if (isequal type @selectedType) "selected"}}">{{type.value}}</span>
                </li>

                {{/each}}
                {{else}}
                <p>No Types Found</p>
                {{/if}}
            </ul>
        </LoadingWrapper>
    </div>
</SaySolidContent>
<SaySolidFooter @me={{this.profile.me}}>
    <WuButton @label="Open" @size="small" @isNarrow={{true}} @commandLocation="below"
        disabled={{if @selectedType false true}} @onClick={{@onOpen}} />
    <WuButton @label="Close" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.close}} />
</SaySolidFooter>