<SaySolidContent @person={{this.profile.me}} @webId={{this.auth.webId}} @header="Select the data from your profile you wish to insert:">
  {{#if this.auth.webId}}
    {{#each (array 'name' 'formattedName' 'organizationName') as |pred|}}
      <br>
      <input type="checkbox" id={{pred}} {{on "click" (fn this.onSelect pred) }}>
      <label for={{pred}}>{{pred}}</label>
    {{/each}}
  {{/if}}
</SaySolidContent>
<SaySolidFooter>
  {{#if this.auth.webId}}
    <WuButton @label="Yes" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.insert}} />
    {{else}}
    <WuButton @label="Login" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.login}} />
    {{/if}}
</SaySolidFooter>