<div class="modal-dialog__content">
  <p class="u-spacer--tiny">
    {{#if this.auth.webId}}
    <strong>Your Solid Files</strong>
    {{else}}
    <strong>You are not logged in</strong>
    {{/if}}
  </p>
  <ul>
      {{#each this.files as |file|}}
        <li>{{file.path}}</li>
      {{/each}}
  </ul>
</div>

<div class="modal-dialog__footer">
  <WuButtonGroup>
    {{#if this.auth.webId}}
    <WuButton @label="Close" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.close}} />*
    {{else}}
    <WuButton @label="Login" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.login}} />*
    {{/if}}
  </WuButtonGroup>
</div>
