<div class="modal-dialog__content">
  <p class="u-spacer--tiny">
    <ProfileHeader @person={{this.profile.me}}/>
    {{#if this.auth.webId}}
    <strong>Select the data from your profile you wish to insert:</strong>
    {{#each (array 'name' 'formattedName' 'organizationName') as |pred|}}
      <br>
      <input type="checkbox" id={{pred}} {{on "click" (fn this.onSelect pred) }}>
      <label for={{pred}}>{{pred}}</label>
    {{/each}}
    {{else}}
    <strong>You are not logged in</strong>
    {{/if}}
  </p>
</div>
<div class="modal-dialog__footer">
  <WuButtonGroup>
    {{#if this.auth.webId}}
    <WuButton @label="Yes" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.insert}} />
    {{else}}
    <WuButton @label="Login" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.login}} />
    {{/if}}
  </WuButtonGroup>
</div>