<div ...attributes>
    <label class="form__label form__label--block u-spacer--small" for="predicate">
        Subject name
        <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{@form.model.subject}}  @input={{fn @onChange @form.id "subject"}}/>
        <span>{{@form.errors.subject}}</span>
    </label>
    <br>
    <Modals::VocabDropdown @model={{@form.model}}></Modals::VocabDropdown>
    <label class="form__label form__label--block u-spacer--small" for="object"> Object:
        <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{@form.model.type}}/>

    </label>
</div>